@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <div>
            <p>This is the EntV 1.0 readied for test.</p>
        </div>
    </div>
</div>
